@import "../../globals.css";

.form-container {
  padding: 12px 5%;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-submit {
  text-align: center;
  min-width: 80px;
  margin: 12px auto;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  background-color: var(--accent);
}