form {
  display: flex;
  align-items: center;
  height: 50px;
  width: 80%;
  max-width: 800px;
  margin: 12px auto;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: #DCDADA;
}

form input {
  height: 100%;
  width: 100%;
  margin-left: 16px;
  border: none;
  background-color: #DCDADA;

}