@import "../../globals.css";

.model-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  margin-bottom: 12px;
  padding: 0 5%;
}

@media screen and (min-width: 1024px) {
  .model-container {
    grid-template-columns: 1fr 320px;
    gap: 32px;
    margin: 32px auto;
    padding: 0 2.5%;
  }
}