@import "../../globals.css";

.model__display {
  width: 100%;
  box-shadow: var(--shadow);
}

.display__render {
  height: 70vh;
  background-color: var(--img-bg);
}



.model__data-container {
  padding: 12px;
  background-color: #fff;
}

.data__title-container {
  display: flex;
  align-items: center;
}

.data__title-container h2 {
  font-size: 1.25rem;
}

.data__specs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 1px;
  margin: 16px 0;
  text-align: center;
}

.specs-list__item {
  outline: 1px solid var(--bg-color);
  padding: 4px;
}

.item__key {
  font-size: .9rem;
  color: var(--secondary-text-color);
}

.item__value {
  margin-top: 8px;
  color: var(--text-color)
}

@media screen and (min-width: 1024px) {
  .data__specs-list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    text-align: left;
  }

    .specs-list__item {
      outline: none;
      padding: 0;
    }
}