@import "../../globals.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 5%;
  box-shadow: var(--shadow);
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.header-logo img {
  height: 100%;
}

.header-logo span {
  font-size: 1.25rem
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.header .header-upload-button {
  text-align: center;
  min-width: 80px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  background-color: var(--accent);
}

.header .header-upload-button:hover {
  background-color: var(--accent-darker);
}