:root {
  --text-color: #232323;
  --secondary-text-color: #616161;
  --link-color: #009ADD;
  --link-color-darker: #0387c0;
  --bg-color: #e5e5e5;
  --footer-text-color: #e5e5e5;
  --footer-bg-color: #2B2B2B;
  --img-bg: #A5A5A5;
  --shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  --accent: #ED8B19;
  --accent-darker: #cf7a18;
  --error: #EC4E4E;
}