@import "../../globals.css";

footer {
  padding: 16px 5%;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}

.footer-container {
  display: flex;
  align-items: center;
  text-align: left;
}

.footer-container .footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-container img {
  height: 70px;
  margin: auto 16px auto 0;
}

@media screen and (min-width: 768px) {

  .footer-container .footer-links-container {
    flex-direction: row;
  }

}